<?xml version="1.0" encoding="utf-8"?> <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> <hibernate-configuration> 
    <session-factory> <!-- Database connection --> 
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/exam_management_system?rewriteBatchedStatements=true</property> 
        <property name="hibernate.connection.username">root</property> 
        <property name="hibernate.connection.password">root</property> <!-- Hibernate properties --> 
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property> 
        <property name="hibernate.show_sql">true</property> 
        <property name="hibernate.format_sql">true</property> 
        <property name="hibernate.hbm2ddl.auto">update</property> 
        <property name="hibernate.jdbc.batch_size">100</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <mapping class="DTO.ToHopNganhDTO"/> 
        <mapping class="DTO.NganhDTO"/> 
        <mapping class="DTO.ToHopDTO"/> 
        <mapping class="DTO.ThiSinhDTO"/> 
    </session-factory> 
</hibernate-configuration>